<title><%= title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= tag.meta name: "bridge-platform", content: turbo_native_bridge_platform %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "mobile", "data-turbo-track": "reload" if turbo_native_app? %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
